<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="e62d394a-d977-4049-8e13-6c06782241d5"
    Publisher="CN=onein"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>RegistryValley.App</DisplayName>
    <PublisherDisplayName>onein</PublisherDisplayName>
    <Logo>Assets\AppTiles\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Registry Valley"
        Description="An fluent editor of Windows 32 Registry"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\AppTiles\Square150x150Logo.png"
        Square44x44Logo="Assets\AppTiles\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\AppTiles\Wide310x150Logo.png"  Square71x71Logo="Assets\AppTiles\SmallTile.png" Square310x310Logo="Assets\AppTiles\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\AppTiles\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="allowElevation"/>
  </Capabilities>
</Package>
